@font-face {
    font-family: "barlow";
    src: url(fonts/barlowReg.ttf);
}

@font-face {
    font-family: "barlowBold";
    src: url(fonts/Barlow-Bold.ttf);
}

*{
    box-sizing: border-box;
    font-size: 20px;
}

body{
    width: 100vw;
    height: auto;
    max-width: 100%;
    margin: 0px;
    overflow-X: hidden;
}

.container{
    display: grid;
    grid-template-rows: 80px;
    position: relative;
    z-index: 2;
}

.logo{
    width: 60px;
    height: 60px;
    background-color: wheat;
    margin: 0 10px 0 10px;
}

.header{
    display: flex;
    background-color: rgb(0 27 61);
    border-bottom: 4px solid rgb(12 46 89);
    color: white;
    align-items: center;
    position: relative;
    z-index: 2;
}

.name{
    font-family: barlowBold;
    font-size: 2.2vh;
}

.navBar{
    margin-left: auto;
}
.navBar ul{
    display: block;
    font-family: barlowBold;
    font-size: 2.2vh;
}

.navBar ul a{
    color: white;
    text-decoration: none;
    margin: 0px 8px 0px 8px
}

.navBar ul button{
    font-family: barlowBold;
    font-size: 2.2vh;
    color: black;
    text-decoration: none;
    margin: 0px 8px 0px 8px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 30px;
}

.main{
    height: 98vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, black, rgb(21 35 85) );
    display: grid;
    grid-template-columns: 40% 1fr;
    position: relative;
    z-index: 2;
}

.left{
    display: flex;
    align-items: center;
    margin: 0 0 0 -10%;
}

.image{
    height: 80%;
    width: 80%;
    background-color: wheat;
    border-radius: 100%;
}

.right{
    margin-left: auto;
}

.tagline{
    font-family: barlowBold;
    font-size: 6vw;
    color: white;
    line-height: 4.4vw;
    text-align: right;
    margin-left: auto;
    margin-right: 10%;
}

.shortMsg{
    width: 60%;
    display: block;
    font-family: barlow;
    font-size: 2.2vh;
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 10%;
}

.main button{
    font-family: barlowBold;
    font-size: 2.2vh;
    color: black;
    text-decoration: none;
    margin: 0px 8px 0px 8px;
    width: 600px;
    height:40px;
    border: none;

    border-radius: 20px;
    margin: 10% 10% 0 26%;
}

.popUp{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
}

.popUpDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 60vw;
    background-color: rgb(24, 24, 43);
    z-index: 1;
    font-family: barlowBold;
    color: white;
    display: grid;

    grid-template-columns: 4fr 6fr;
    justify-content: center;
    align-items: center;
}

.popUpLeft{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.popUpLeft img{
    width: 100%;
    height: auto;
}

.popUpRight{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.popUpRight div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpRight div h1{
    width: 80%;
    font-size: 4vw;
    text-align: center;
}

.popUpRight button{
    font-family: barlowBold;
    font-size: 2.2vh;
    color: black;
    text-decoration: none;
    margin: 0px 8px 0px 8px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 30px;
}